@font-face {
    font-family: my-font;
    src: url(../fonts/Norse-Bold.otf);
  }

body {
    font-family: sans-serif;
    min-height: 100vh;
    width: 100 vh;
    display: flex;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
}

h1 {
  margin: 0;
}

a {
  text-decoration: underline;
  color: inherit;
}

.spotlight {
background-image: url(../img/background.avif);
color: white; 
width: 30%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.title{
  display: flex;
  background: rgba(0, 0, 0, 0.452);
  justify-content: center;
  margin: 150px 0;
}

.logo {
  height: 90px;
}

.norse {
  font-family: my-font, sans-serif;
  font-size: 90px;
}

.creds {
  text-align: center;
}

.content {
  width: 45%;
  background-color: #f0f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
}

.description {
  padding: 50px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: larger; 
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.input {
  background-color: white;
  padding: 50px;
  box-sizing: border-box;
  border-color: #E5E7EB;
  box-shadow: 0 5px 5px rgb(161, 161, 161);
  color:rgb(48, 48, 48);
}

.input>h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  border: 0;
  justify-content: space-evenly;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1px;
  color: rgba(56, 55, 55, 0.685);
}

input {
  border-color: #E5E7EB;
  border-width: 1px;
  border-radius: 5px;
  font-size: 18px;
}

input:focus {
  outline:none;
  border-color: blue;
  box-shadow: 1px 1px 1px rgb(114, 114, 114);
}

.error {
  border-color: red;
}



.button {
  padding: 50px;
  box-sizing: border-box;
}

button {
  background-color: #596D48;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px 50px;
  border: 0;
  box-shadow: 5px 5px 5px rgb(161, 161, 161);
  margin-bottom: 15px;
}

#log-in {
  color:#596D48;
  text-decoration: none;
  font-weight: bold;
}